@use "global" as *;

/* =============
    General
   =============*/

$display-color: rgb(245, 245, 245);
$border-color: rgb(165, 165, 165);
$border-color-alt: rgb(255, 255, 255);
$border-width: 3px;

$news-title-color: rgb(0, 89, 255);
$news-title-color-alt: rgb(35, 193, 255);

$gallery-title-color: rgb(0, 89, 255);
$album-title-color: rgb(0, 89, 255);
$album-title-color-alt: rgb(35, 193, 255);

/* =============
    Typography
   =============*/

.featured-news-header,
.older-news-title {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: $news-title-color;
    border-bottom: 1px solid $news-title-color;
    width: fit-content;
}

.featured-news-header:hover,
.featured-news-header:focus,
.older-news-title:hover,
.older-news-title:focus {
    outline: none;
    color: $news-title-color-alt;
    border-bottom: 1px solid $news-title-color-alt;
}

.featured-news-info {
    font-family: Arial, sans-serif;
    font-size: 0.6rem;
}

.older-news-more {
    font-size: 1.2rem;
    font-family: 'Courier New', monospace;
    font-weight: 700;
    color: $border-color;
    text-decoration: none;
}

.gallery-title {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: $gallery-title-color;
}

.gallery-title:hover,
.gallery-title:focus {
    outline: none;
    color: $album-title-color-alt;
}

.album-title {
    font-family: 'Times New Roman', serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: $album-title-color;
    border-bottom: 1px solid $album-title-color;
}

.album-title:hover,
.album-title:focus {
    outline: none;
    color: $album-title-color-alt;
    border-bottom: 1px solid $album-title-color-alt;
}
   
/* =============
    Layout
   =============*/

//=== News ===//

.news-display {
    background-color:$display-color;
    display: flex;
    flex-direction: column;
    border: $border-width solid $border-color;
    margin-bottom: 2rem;
    min-height: 500px;
}

@media (min-width: $screen-break-medium-large) {    
    .news-display {
        flex-direction: row;
    }
}
   
.featured-news {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: $border-width solid $border-color;
}
   
@media (min-width: $screen-break-medium-large) {
    .featured-news {
        margin-bottom: 0;
        border-bottom: none;
        border-right: $border-width solid $border-color;;
    }
}

@media (min-width: $screen-break-small-medium) {
    .featured-news {
        padding: 0.5rem;
    }
}

.featured-news-details {
    display: flex;
    flex-direction: column;
}

.featured-news-image {
    max-width: 100%;
    object-fit: cover;
   max-height: 150px;
}

.featured-news-text {
    max-width: 100%;
    margin: 0;
    padding: 1rem;
}

@media (min-width: $screen-break-small-medium) {
    .featured-news-details {
        flex-direction: row;
    }

    .featured-news-image {
        max-width: 50%;
        max-height: none;
    }

    .featured-news-text {
        max-width: 50%;
    }
}

.older-news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: $screen-break-medium-large) {
    .older-news-container {
        min-width: 260px;
        max-width: 400px;
        width: 30%;
    }
}

.older-news {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.older-news-image {
    max-height: 100px;
    max-width: 100%;
    object-fit: cover;
}

.older-news-title {
    margin-bottom: 0.5rem;
}

.older-news-more {
    padding: 0.5rem;
    text-align: center;
    border-top: $border-width solid $border-color;
}

.older-news-more:hover,
.older-news-more:focus {
    outline: none;
    color: $border-color-alt;
    background-color: $border-color;
}

//=== Gallery ===//

.gallery-display {
    background-color:$display-color;
    display: flex;
    flex-direction: column;
    border: $border-width solid $border-color;
    margin-bottom: 2rem;
    min-height: 300px;
}

.gallery-title {
    margin: 0;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    border-bottom: $border-width solid $border-color;
}

.gallery-albums-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: $screen-break-medium-large) {
    .gallery-albums-container {
        flex-direction: row;
        justify-content: space-between;
    }
}

.gallery-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.75rem;
}

@media (min-width: $screen-break-medium-large) {
    .gallery-album {
        max-width: 30%;
    }
}

.gallery-album:last-child {
    margin-bottom: 0rem;
}

.album-title {
    margin-bottom: 0.5rem;
    width: fit-content;
}

.album-front-image {
    min-width: 100%;
    max-height: 100px;
    object-fit: cover;
}

@media (min-width: $screen-break-medium-large) {
    .album-front-image {
        max-width: 100%;
        max-height: none;
        object-fit: scale-down;
    }
}